/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Fernanda Shin
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/
* {
  box-sizing: border-box; /* allows us to tell the browser how to measure our elements.  Now the width property includes content, padding, and border, instead of just the content*/
}

/******************************************
/* BASE STYLES
/*******************************************/


a {
	color: #fff;
	text-decoration-line: none;
}


/******************************************
/* LAYOUT
/*******************************************/

.sectioncontainer {
	display:flex;
	justify-content: center;
    flex-direction: column;

}
.headercontainer {
	display:flex;
	flex-direction: column;
	background-color: pink;
	height: 550px;
	background-image:url('../images/bg.jpg');
	background-size: cover;

}

.header {
	padding-left: 70px;
}
.footercontainer {
	background-color: rgb(242,244,246);
	display: flex;
	flex-direction: column;
	align-items: center;


}

.section {
  	height: 200px;
  	display: flex;
  	justify-content: space-around;

}
#Title1 {
  	text-align: center;
  	margin: 10px;
  	padding: 30px;
  	flex: 4;
}
#Title2 {
  	flex: 4;
  	text-align: center;
  	margin: 10px;
  	padding: 30px;

}
#Title3 {
  	flex: 4;
  	text-align: center;
  	margin: 10px;
  	padding: 25px;

}

#call-to-action {
	background-color: rgb(16,204,114);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	border-radius: 5px;
	padding:10px;
	width: 300px;
	border-style: none;

	

}
#secondarybutton {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgb(115,176,248);
	width: 300px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 14px;
	border-radius: 5px;
	padding:10px;
	border-style: none;


}


.sectioncontainer2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3 {
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 900;



}

#relaxr-heading {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 900;

}

#footer-logo {
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	padding-top: 40px;
	font-weight: 900;


}

#copyright {
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	padding-bottom: 30px;
	font-weight: 700;



}

p {
	color: #033048;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;


}

#quote {
	color: rgb(142,149,146);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;


}

#citation {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-style:normal;


}





h2 {
	padding-top: 40px;
	font-family: 'Roboto', sans-serif ;
	font-size: 36px;
	font-weight: 900;
	color: rgb(16,204,114);


}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
