/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Fernanda Shin
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/
* {
  box-sizing: border-box; /* allows us to tell the browser how to measure our elements.  Now the width property includes content, padding, and border, instead of just the content*/
}

/******************************************
/* BASE STYLES
/*******************************************/


a {
	color: #fff;
	text-decoration-line: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
	display:flex;
	height: 400px;
	background-image:url('../images/bg.jpg');
	background-size: cover;
	background-position:center center;
	background-repeat: no-repeat;

}

.header {
	padding-left: 70px;
	display: flex;
	flex-direction: column;
}



#relaxr-heading {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 900;

}

#primary-button {
	background-color: rgb(16,204,114);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	border-radius: 5px;
	padding:10px;
	width: 300px;
	border-style: none;
	color: white;

}


h2 {
	font-family: 'Roboto', sans-serif ;
	font-size: 36px;
	font-weight: 900;
	color: rgb(16,204,114);


}
section {
	display:flex;
	justify-content: center;
    flex-direction: column;

}

.section {
  	display: flex;
  	justify-content: space-around;


}

h3 {
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 900;

}


#Title1 {
  	text-align: center;
  	margin: 10px;
  	padding: 30px;
  	flex: 4;

}
#Title2 {
  	flex: 4;
  	text-align: center;
  	margin: 10px;
  	padding: 30px;

}
#Title3 {
  	flex: 4;
  	text-align: center;
  	margin: 10px;
  	padding: 25px;

}

p {
	color: #033048;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;

}

aside {
	display: flex;
	justify-content: center;

}

.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#secondary-button {
	background-color: rgb(115,176,248);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	border-radius: 5px;
	padding:10px;
	width: 300px;
	border-style: none;
	color: white;

}


blockquote {
	color: rgb(142,149,146);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;


}

#citation {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-style:normal;


}


footer {
	background-color: rgb(242,244,246);
	display: flex;


}

.footer {
	display:flex;
	flex-direction: column;
	align-items: center;
}


#footer-logo {
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	padding-top: 40px;
	font-weight: 900;


}

#copyright {
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	padding-bottom: 30px;
	font-weight: 700;

}






















/******************************************
/* ADDITIONAL STYLES
/*******************************************/
