/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Fernanda Shin
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/
* {
  box-sizing: border-box; /* allows us to tell the browser how to measure our elements.  Now the width property includes content, padding, and border, instead of just the content*/
}

/******************************************
/* BASE STYLES
/*******************************************/


a {
	color: #fff;
	text-decoration-line: none;
}


/******************************************
/* LAYOUT
/*******************************************/
.header-container {
	display:flex;
	height: 400px;
	background-image:url('../images/bg.jpg');
	background-size: cover;
	background-position:center center;
	background-repeat: no-repeat;

}

.header {
	padding-left: 70px;
	display: flex;
	flex-direction: column;
}



#relaxr-heading {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 900;

}

#primary-button {
	background-color: rgb(16,204,114);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	border-radius: 5px;
	padding:10px;
	width: 300px;
	border-style: none;
	color: white;

}


#h2 {
	font-family: 'Roboto', sans-serif ;
	font-size: 36px;
	font-weight: 900;
	color: rgb(16,204,114);


}
section {
	display:flex;
	justify-content: center;
    flex-direction: column;

}

.section {
  	display: flex;
  	justify-content: space-around;


}

h3 {
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 900;

}


#Title1 {
  	text-align: center;
  	margin: 10px;
  	padding: 30px;
  	flex: 4;

}
#Title2 {
  	flex: 4;
  	text-align: center;
  	margin: 10px;
  	padding: 30px;

}
#Title3 {
  	flex: 4;
  	text-align: center;
  	margin: 10px;
  	padding: 25px;

}

p {
	color: #033048;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;

}

aside {
	display: flex;
	justify-content: center;

}

.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#secondary-button {
	background-color: rgb(115,176,248);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	border-radius: 5px;
	padding:10px;
	width: 300px;
	border-style: none;
	color: white;

}


blockquote {
	color: rgb(142,149,146);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;


}

#citation {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-style:normal;


}


footer {
	background-color: rgb(242,244,246);
	display: flex;
	justify-content: center;


}

.footer {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}


#footer-logo {
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	padding-top: 40px;
	font-weight: 900;


}

#copyright {
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	padding-bottom: 30px;
	font-weight: 700;

}






/*CSS for BLOG PAGE*/

body#body-blog {

	display: grid;
	grid-template-rows: 150px 1100px 140px;
	grid-template-columns: 300px 600px 300px;
	grid-template-areas: "a a a"
						 "b c d"
						 "e e e";
   
}

#header-blog { 
	grid-area: a;
	background: purple;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image:url('../images/bg.jpg');
	background-size: cover;



 }

 nav#left-nav-blog {
 	grid-area: b;
 	background: white;
 }

section {
 	grid-area: c;
 }

 #aside-blog-container {
 	grid-area: d;
 	display: flex;

 }

 footer#footer-blog{
 	grid-area: e;
 	background: rgb(242,244,246)s;
 }

#logo-blog  {
	margin-left: 100px;
}

 div#top-nav {
 	width: 400px;
 	margin-right: 100px;
 	font-family: 'Roboto', sans-serif;  
 	font-weight: 700;
 	color:white;

 }

/*QUESTION : Why will the font only change to "Roboto when I insert in 
div#top-nav instead of "ul" ????*/


 #top-nav-ul {
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 }


a:hover {
	color: pink;
}

h3.h3-left-nav {
	font-family: 'Roboto', sans-serif;  
 	font-weight: 700;
 	margin-top: 30px;
 	margin-bottom: 20px;
 	color: #033048;
 	font-size: 18px;

}

#left-nav-blog {
	margin-left: 80px;
	margin-top: 20px;
}

#side-nav-ul {
	color: rgb(142,149,146);
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.3;

}

#side-nav-ul:hover {
	color: red;
}

#h2-blog {
	font-family: 'Roboto', sans-serif ;
	font-size: 26px;
	font-weight: 900;
	color: #033048;
}

 section p {
	font-family: 'Roboto', sans-serif ;
	font-size: 13px;
	font-weight: 300;
	padding-top: 20px;
	line-height: 1.3;

}


/*QUESTION : Why did the <p> tag only inherit the color but not the font family?
I had to rewrite section p (above) for the font family to work.*/

#h2-blog {
	margin-bottom: 10px;
}

.giphy-embed {
	margin-top: 20px;
	margin-bottom: 20px;
}

section small {
	font-family: 'Roboto', sans-serif ;
	font-size: 10px;
	font-weight: 300;
	margin-top: 30px;
	color: rgb(142,149,146);
	font-style: italic;

}
#section-blog {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 50px;

}

.meditate-image {
	margin-top: 20px;
}

/*QUESTION: Why will CSS styling not work if i only put "img?" */



#aside-blog-container {
	display: flex;
	
}

#aside-title {
	color: black;
	font-family: 'Roboto', sans-serif;  
 	font-weight: 700;
 	margin-top: 50px;
 	margin-bottom: 20px;
 	color: #033048;
 	font-size: 18px;

}

#aside-images {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.image1 {
	width:200px;
	margin-bottom: 30px;
}


.image2 {
	width:200px;
	margin-bottom: 30px;
}

/*LAST QUESTION: Why is this blog page layout not fluid like the landing page?*/






/******************************************
/* ADDITIONAL STYLES
/*******************************************/
